<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.group18">

    <!-- <<< Add Internet Permission >>> -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"> <!-- <<< Allow HTTP Traffic -->

        <!-- Main Activity - This is the launcher activity (first screen) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ListView Activity - Second activity opened from MainActivity -->
        <activity
            android:name=".ListViewActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />

        <!-- Hosting Activity - New activity for the hosting tab -->
        <activity
            android:name=".HostingActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />

        <!-- Activity3 for Creating/Editing Events -->
        <activity
            android:name=".Activity3"
            android:parentActivityName=".ListViewActivity"
            android:exported="false" />

    </application>

</manifest>
